@import "node_modules/include-media/dist/include-media";
$yellow: #E7E26E;
$lgray: #99958C;
$dgray: #3E3E37;
$green: #22621D;
$blue: #276B90;


.contacts {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: center;
  align-content: center;
  padding: 15px 20vw;
  height: 46vh;
  animation-name: slidein;
  animation-duration: 2s;
  background: linear-gradient(-130deg, $yellow 5%, #383838 5%, #383838 10%, $yellow 10%, $yellow 15%, #383838 15%, #2D2F2F 34%, #232424 56%);
    .contact-description{
      display: flex;
      gap: 10px;
      font-size: 3vh;
      margin-left: 20vw;
    }

.button-up {
  color: $lgray;
  background-color: $dgray;
  margin-top: 10px;
  margin-left: 27vw;
  padding: 0 7px;
  font-size: 3vh;
  border-radius: 3px;

  &:hover {
    background-color: $lgray;
    color: $dgray;
    animation: none;
    box-shadow: 3px 3px 7px $lgray;
  }
}
  @include media('<1050px') {
    padding: 5px 10vw;
    .button-up {
      margin-left: 34vw;
    }
  }
  @include media('<730px') {
    .contact-description {
      font-size: 3vw;
    }
  }
}