$yellow: #E7E26E;
$lgray: #99958C;
$dgray: #3E3E37;
$green: #22621D;
$blue: #276B90;


.contacts {
  height: 46vh;
  background: linear-gradient(-130deg, $yellow 5%, #383838 5%, #383838 10%, $yellow 10%, $yellow 15%, #383838 15%, #2D2F2F 34%, #232424 56%);
  animation-duration: 2s;
  animation-name: slidein;
  small {
    padding: 15px 20vw;
    font-size: 25px;
    color: $blue;
  }
  h1 {
    padding: 0 20vw;
    font-size: 50px;
    color: #EAEEF1;
    strong {
      color: $green
    }
  }
  .description {
    padding: 3vh 20vw;
    font-size: 20px;
    width: 60vw;
  }
  .contact-description{
    padding-top: 7vh;
    padding-right: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
      p {
        font-size: 20px;
      }
  }
}
.btn-up {
  width: 60px;
  height: 22px;
  background-color: $dgray;
  border-radius: 15px;
  color: $yellow;
  border: 1px solid $lgray;
  animation: shadow ease 2s infinite;
  position: relative;
  left: 74vw;
  bottom: 300px;
}
.btn-down {
  width: 60px;
  height: 22px;
  background-color: $dgray;
  border-radius: 15px;
  color: $yellow;
  border: 1px solid $lgray;
  animation: shadow ease 2s infinite;
  position: relative;
  left: 74vw;
  bottom: 300px;
}
.btn-up:hover {
  background-color: $yellow;
  color: $dgray;
  animation: none;
}
.btn-down:hover {
  background-color: $yellow;
  color: $dgray;
  animation: none;
}
