.portfolio {
  background-color: #F5F5F5;
  color: #3E3E37;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 15px 12vw;
  animation-name: slidedown;
  animation-duration: 2s;
    .portfolio-preview {
      display: flex;
      justify-content: space-evenly;
      gap: 7vw;
      margin-left: 15vw;
    }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}