@import "node_modules/include-media/dist/include-media";

.about {
  background-color: #F5F5F5;
  color: #3E3E37;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 15px 20vw;
  animation-name: slidedown;
  animation-duration: 2s;
  .about-preview {
    display: flex;
    justify-content: space-between;
  }
  .list {
    display: flex;
    padding: 5vh 0;
    gap: 1vw;
  }
  img {
    height: 65vh;
    width: 27vw;
  }
  @include media('<730px') {
    padding: 10px 10vw;
    img {
      height: 33vh;
      width: 23vh;
    }
    .list {
      flex-wrap: wrap;
    }
  }
}