@import "node_modules/include-media/dist/include-media";
$yellow: #E7E26E;
$lgray: #99958C;
$dgray: #3E3E37;
$green: #22621D;
$blue: #276B90;

.main {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-content: center;
  padding: 15px 20vw;
  background: linear-gradient(310deg, $yellow 5%, #383838 5%, #383838 10%, $yellow 10%, $yellow 15%, #383838 15%, #2D2F2F 34%, #232424 56%);
  height: 46vh;
  animation-name: slidein;
  animation-duration: 2s;

  .btnlink {
    color: $dgray;
  }

  button {
    color: $dgray;
    margin-right: 5px;
    background: rgba(245, 245, 245, 0.9);
    padding: 0 7px;
    font-size: 3vh;
    border-radius: 3px;

    &:hover {
      background-color: $yellow;
      box-shadow: 3px 3px 7px $yellow;
    }
  }

  button.yellowbtn {
    background: $yellow;

    &:hover {
      background: rgba(245, 245, 245, 0.9);
      box-shadow: 3px 3px 8px rgba(245, 245, 245, 0.9);
    }
  }

  .button-down {
    color: $lgray;
    margin-right: 5px;
    background-color: $dgray;
    padding: 0 7px;
    font-size: 3vh;
    border-radius: 3px;

    &:hover {
      background-color: $lgray;
      color: $dgray;
      animation: none;
      box-shadow: 3px 3px 7px $lgray;
    }
  }
  @include media('<1050px') {
    padding: 5px 10vw;
  }
  @include media('<730px') {
    padding: 2px 6vw;
    .buttons-group{
      padding-left: 3rem;
    }
    button{
      font-size: 2vh;
    }
    .button-down {
      font-size: 2vh;
    }
  }
}