$yellow: #E7E26E;
$lgray: #99958C;
$dgray: #3E3E37;
$green: #22621D;
$blue: #276B90;

.main {
  padding: 15px 20vw;
  small {
    font-size: 25px;
    color: $blue;
  }
  h1 {
    font-size: 50px;
    color: #EAEEF1;
    strong {
      color: $green
    }
  }
}