@import "node_modules/include-media/dist/include-media";

.description {
  color: #99958C;
  p{
    font-size: 2vh;
  }
  .bi-laptop {
    width: 5vh;
    height: 5vh;
    margin-left: 1em;
    color: #DBD7D2;
  }
  .bi-laptop:hover {
    color:#8B02E3;

  }
  @include media('<730px') {
    width: 25vw;
    p{
      font-size: 4vw;
    }
    .bi-laptop {
      margin-left: 10px;
    }
  }
}