
$yellow: #E7E26E;
$lgray: #99958C;

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: linear-gradient(310deg, #151719 1%, #383838 15%, #2D2F2F 34%, #232424 56%);
  font-size: 24px;
  justify-content: center;
  align-content: center;
  color: $lgray;
}


@keyframes opacityinc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes slidein {
  0% {
    left: -100vw;
    width: 300%;
  }

  100% {
    left: 0;
    width: 100%;
  }
}

@keyframes slidedown {
  0% {
    up: 200vh;
    opacity: 0;
  }
  100% {
    up: 0;
    opacity: 1;
  }
}

@keyframes shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 3px 3px 3px $yellow;
  }
  100% {
    box-shadow: none;
  }
}