$yellow: #E7E26E;
$lgray: #99958C;
$dgray: #3E3E37;
$green: #22621D;
$blue: #276B90;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(310deg, #151719 1%, #383838 15%, #2D2F2F 34%, #232424 56%);
  font-size: 34px;
  justify-content: center;
  align-content: center;
  color: $lgray;
}
.preview {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  small {
    font-size: 25px;
    color: #8B02E3;
  }
  h1 {
    font-size: 50px;
    color: #232424;
    width: 25vw;
    strong {
      color: #E8CC17
    }
  }
  .description {
    width: 20vw;
    margin-bottom: 10px;
  }
  div {
    button {
      color: $dgray;
      margin: 5px 1rem;
      background: rgba(245, 245, 245, 0.9);
      border: 1px solid $lgray;
      padding: 0 7px;
      font-size: 1em;
      border-radius: 3px;
    }
    button:hover {
      background-color: $yellow;
      box-shadow: 3px 3px 8px $yellow;
    }

    button.yellowbtn {
      background: $yellow;
    }
    button.yellowbtn:hover {
      background: rgba(245, 245, 245, 0.9);
      box-shadow: 3px 3px 8px rgba(245, 245, 245, 0.9);
    }
  }
}
.button-down {
  width: 5vw;
  height: 30px;
  background-color: $dgray;
  border-radius: 15px;
  border: 1px solid $lgray;
  animation: shadow ease 2s infinite;
}
.button-up {
  width: 5vw;
  height: 30px;
  background-color: $dgray;
  border-radius: 15px;
  border: 1px solid $lgray;
  animation: shadow ease 2s infinite;
}
.button-up:hover {
  background-color: $yellow;
  color: $dgray;
  animation: none;
}
.button-down:hover {
  background-color: $yellow;
  color: $dgray;
  animation: none;
}
@keyframes opacityinc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes slidein {
  0% {
      left: -100vw;
    width: 300%;
  }

  100% {
    left: 0;
    width: 100%;
  }
}
@keyframes slidedown {
  0% {
    up: 200vh;
    opacity: 0;
  }
  100% {
    up: 0;
    opacity: 1;
  }
}
@keyframes shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 3px 3px 3px $yellow;
  }
  100% {
    box-shadow: none;
  }
}